
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    width:100%
}



td, th {
  border: 1px solid black;
  text-align: left;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


  .container {
      display: grid;
      flex-direction: column;
  }

  .base{
  justify-content:center;
  align-items:center;
  display:flex;
  margin: 1rem;
  }

  .card{
  margin: 1rem;
  }

  svg{
  width:20px;
  }


