{% extends 'base.html' %}


{% block title %}
<title>Online Store</title>
{% endblock %}

{% block body %}

 <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h5 class="display-6 fw-normal">Shop Items</h5>
   </div>





<div  class="center" id="top">
{% for el in data %}
				<div class="base" id="base">

					<br>
						<div class="card needspace" style="width: 18rem; height: 25rem; ">
							<div class="card-body">
			    				<h5 class="card-title">{{ el.title }}</h5>
			  				</div>

								<div>
									<img  class="card__image" width="286" height="286" src="{{ url_for('display_image', filename='/'+el.image) }}" alt="Details">

								</div>
			  				<ul class="list-group list-group-flush">
			    				<li class="list-group-item">Price: {{ el.price }}</li>
			  				</ul>
               <button class="btn btn-primary cart" onclick="window.location.href =
                					'{{el.link}}';">Add to Cart</button>
								</div>

{% endfor %}

{% endblock %}
