{% extends 'base.html' %}

{% block title %}
<title>Add Item</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Add Item</h1>
    <form class="col s12" method='POST' enctype="multipart/form-data">
       <input type="file" name="photo" class ="form-control" autocomplate="off" required><br>
      <input type="text" class="form-control" name="title" id="title" placeholder="Add Name"><br>
      <input type="number" class="form-control" name="price" id="price" placeholder="Add Price"><br>
      <button class="btn btn_success" type="submit">Add Item</button>
    </form>
</div>
{% endblock %}
