{% extends 'base.html' %}

{% block title %}
<title>Edit Page</title>
{% endblock %}

{% block body %}

<br><br><br>

    <form style="width:70%" method='POST' enctype="multipart/form-data">
        <h2>Edit Page</h2>
        <br>

         <input type="file" name="photo1" id="photo1" class ="form-control" required><br>
         <input type="file" name="photo2" id="photo2" class ="form-control"><br>
         <input type="file" name="photo3" id="photo3" class ="form-control"><br>
         <input type="file" name="photo4" id="photo4" class ="form-control"><br>
        <input type="text" class="form-control" name="title" id="title" placeholder="Add Name"><br>
        <input type="text" class="form-control" name="text" id="text" placeholder="Add Description"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Add Price"><br>
        <button class="btn btn-outline-primary" type="submit">Add Item</button>
    </form>



<br><br><br>


<h2>Shop Data</h2>
<br>
<table style="width:70%">

    <tr>
    <th>ID</th>
    <th>Image1</th>
         <th>Image2</th>
         <th>Image3</th>
         <th>Image4</th>
    <th>Price</th>
    <th>Item</th>
        <th>Description</th>

        <th>Action</th>
  </tr>

{% for el in data %}
  <tr>
    <td>{{ el.id }}</td>
      <td><img width="40" height="40" src="{{ url_for('display_image', filename='/'+el.image1) }}" alt="Details"></td>
            <td><img width="40" height="40" src="{{ url_for('display_image', filename='/'+el.image2) }}" alt="Details"></td>
            <td><img width="40" height="40" src="{{ url_for('display_image', filename='/'+el.image3) }}" alt="Details"></td>
            <td><img width="40" height="40" src="{{ url_for('display_image', filename='/'+el.image4) }}" alt="Details"></td>
      <td>{{ el.price }}</td>
    <td>{{ el.title }}</td>
      <td>{{ el.text }}</td>

    <td><a href="/dashboard/{{ el.id }}/delete" class="btn btn-danger">Delete</a></td>
    </tr>
{% endfor %}

</table>

<br><br><br>
{% endblock %}
