{% extends 'base.html' %}

{% block title %}
<title>Edit Page</title>
{% endblock %}

{% block body %}
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>
    const client = filestack.init(AxEenqdDFQqKSqZHpZNspz);
client.picker().open();
{
   "filesUploaded":[
      {
         "filename":"myfile.png",
         "handle":"AFrHW1QRsWxmu5ZLU2qg",
         "mimetype":"image/png",
         "originalPath":"picker_transformation.png",
         "size":1277297,
         "source":"local_file_system",
         "url":"https://cdn.filestackcontent.com/AFrHW1QRsWxmu5ZLU2qg",
         "uploadId":"cfcc198e63b7328c17f09f1af519fcdf",
         "originalFile":{
            "name":"myfile",
            "type":"image/png",
            "size":1277297
         },
         "status":"Stored"
      }
   ],
   "filesFailed":[

   ]
}
</script>


<div class="container">

    <form class="col s12" method='POST' enctype="multipart/form-data">
        <h2>Edit Page</h2>
        <br>
        <input type="file" name="photo" class ="form-control" autocomplate="off" required><br>
        <input type="text" class="form-control" name="title" id="title" placeholder="Add Name"><br>
        <input type="text" class="form-control" name="text" id="text" placeholder="Add Description"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Add Price"><br>
        <button class="btn btn-outline-primary" type="submit">Add Item</button>
    </form>

</div>

<br>

<div class="container">
<h2>Shop Data</h2>
<br>
<table>

    <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Price</th>
    <th>Item</th>
        <th>Description</th>

        <th>Action</th>
  </tr>

{% for el in data %}
  <tr>
    <td>{{ el.id }}</td>
      <td><img width="40" height="40" src="{{ url_for('display_image', filename='/'+el.image) }}" alt="Details"></td>
      <td>{{ el.price }}</td>
    <td>{{ el.title }}</td>
      <td>{{ el.text }}</td>

    <td><a href="/dashboard/{{ el.id }}/delete" class="btn btn-danger">Delete</a></td>
    </tr>
{% endfor %}

</table>
    </div>

{% endblock %}
