{% extends 'base.html' %}

{% block title %}
<title>Online Store</title>
{% endblock %}

{% block body %}
<div class="container" id="top">
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1">Products</span>

		</nav>
				<div class="base" id="base">
					{% for el in data %}
					<br>
						<div class="card needspace" style="width: 18rem;">
							<div class="card-body">
			    				<h5 class="card-title">{{ el.title }}</h5>
			  				</div>

								<div>
									<img width="286" height="286" src="{{ url_for('display_image', filename='/'+el.image) }}">
								</div>
			  				<ul class="list-group list-group-flush">
			    				<li class="list-group-item">Price: {{ el.price }}</li>
			  				</ul>
							<button type="button" class="w-100 btn btn-lg btn-outline-primary">Buy Item</button>
						</div>
					{% endfor %}
				</div>
{% endblock %}
