{% extends 'base.html' %}


{% block title %}
<title>Online Store</title>
{% endblock %}

{% block body %}
<div class="center">

 <div class="card-columns">
    {% for el in data %}
<div class="card bg-light">
      <div class="card-body">
          <p class="card-text"> <h3>{{ el.title }}</h3>
          <img  style="width:150px; height:150px;" src="{{ url_for('display_image', filename='/'+el.image) }}" alt="Details">
          <p style="center" >Price {{ el.price }} shekel</p>    </div>

          <button class="btn btn-primary stretched-link" onclick="window.location.href ='{{el.link}}';">Add to Cart</button>

</div>
<br>
   {% endfor %}

</div>
    </div>
{% endblock %}
